<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.nano71.glutassistantn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
            android:label="桂工助手N"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize"
                android:enableOnBackInvokedCallback="true">

            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/Theme.Material3.DynamicColors.DayNight" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="es.antonborri.home_widget.action.LAUNCH" />
            </intent-filter>
        </activity>

        <receiver
                android:name=".HomeWidgetBackgroundReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="es.antonborri.home_widget.action.INTERACTIVITY" />
            </intent-filter>
        </receiver>

        <receiver
                android:name=".HomeWidgetProvider"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/home_widget" />
        </receiver>

        <!-- Used for Background Work -->
        <receiver
                android:name="es.antonborri.home_widget.HomeWidgetBackgroundReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="es.antonborri.home_widget.action.BACKGROUND" />
            </intent-filter>
        </receiver>
        <service
                android:name="es.antonborri.home_widget.HomeWidgetBackgroundService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true" />

        <meta-data
                android:name="flutterEmbedding"
                android:value="2" />

    </application>
</manifest>
